* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  color: hsl(0, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
}

.hero-mobile {
  display: none;
}

.landing-page {
  height: 100vh;
  display: flex;
}

.logo {
  width: 10vw;
}

.description-section {
  background: url("images/bg-pattern-desktop.svg") no-repeat;
  background-size: cover;
  padding: 5% 13%;
  width: 60%;
}

.description-section__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.description-section__content h1 {
  font-size: calc(1rem + 3.8vw);
  font-weight: 300;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.description-section__content .announcements {
  color: hsl(0, 6%, 24%);
  font-weight: 600;
}

.description-section__content p {
  font-size: calc(0.8rem + 0.3vw);
  line-height: 1.8em;
  margin-bottom: 2rem;
}

.subscription-form {
  display: flex;
  align-items: flex-end;
}

.email-input {
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 30px;
  color: hsl(0, 36%, 70%);
  opacity: 0.4;
  font-size: 1rem;
  font-weight: 500;
  height: 3.4rem;
  padding: 1em 2rem;
  width: 100%;
}

.email-input::placeholder {
  color: hsl(0, 36%, 70%);
}

.email-input:focus {
  opacity: 1;
  outline: none;
  font-weight: 600;
}

.subscription-form button {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 40px;
  box-shadow: 0px 12px 20px 3px rgba(206, 151, 151, 0.4);
  height: 3.5rem;
  margin-left: -80px;
  padding: 0 2.5rem;
  z-index: 1;
}

.subscription-form button:hover {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 65%));
}
.subscription-form button:focus {
  outline: none;
}

.illustration-section {
  background-image: url("images/hero-desktop.jpg");
  background-size: cover;
  background-position: top;
  width: 40%;
}

/* Error styling */
.hidden {
  display: none;
}

.error-message {
  color: rgb(249, 98, 98);
  font-size: calc(0.7rem + 0.3vw);
  margin-left: 2rem;
}

.icon-error {
  align-self: center;
  position: relative;
  right: 100px;
}

.email-input.error {
  border: 2px solid hsl(0, 93%, 68%);
  opacity: 1;
}

.modal-subscription {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding: 4rem 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: all 0.5s;
}

.modal-subscription h2 {
  font-size: 3rem;
}

.modal-subscription p {
  font-size: 2rem;
  margin-top: 1em;
}

.close-modal {
  color: hsl(0, 6%, 24%);
  font-size: 3rem;
  background: none;
  border: none;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer;
  outline: none;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.fa-envelope {
  font-size: calc(3rem + 1vw);
  margin-bottom: 1.5rem;
}

/* Avoids subscription form elements collapsing */
@media screen and (max-width: 68rem) and (min-width: 50rem) {
  .email-input {
    height: 3rem;
    padding: 1em 1rem;
  }

  .subscription-form button {
    margin-left: -50px;
    height: 3.1rem;
    padding: 0 1.5rem;
  }

  .error-message {
    margin-top: 10px;
    padding-left: 10px;
  }

  .subscription-form {
    position: relative;
  }

  .icon-error {
    position: absolute;
    left: 10px;
    top: 60px;
  }
}

/* < 800px width */
@media screen and (max-width: 50rem) {
  .landing-page {
    height: auto;
  }

  .logo {
    width: 30vw;
    margin: 8% 10%;
  }

  .hero-mobile {
    display: block;
    width: 100vw;
  }

  .description-section {
    background: none;
    padding: 0;
    width: 100%;
  }

  .description-section__content {
    text-align: center;
    position: relative;
    margin: 15% 10%;
    top: 0;
    transform: none;
  }

  .illustration-section {
    display: none;
  }

  .description-section__content h1 {
    font-size: calc(1rem + 7vw);
    letter-spacing: 0.5rem;
  }

  .description-section__content p {
    font-size: calc(0.5rem + 1vw);
    max-width: 700px;
    margin: 0.5rem auto 2rem;
  }

  .subscription-form {
    margin: auto;
    max-width: 500px;
  }

  .email-input {
    font-size: calc(0.6rem + 1vw);
    height: 2.4rem;
    margin: auto;
    padding: 1em;
  }

  .subscription-form button {
    height: 2.5rem;
    margin-left: -60px;
    padding: 0 1.5rem;
  }

  .icon-error {
    position: relative;
    right: 70px;
  }

  .error-message {
    padding-left: 15%;
    text-align: left;
  }

  .modal-subscription {
    width: 70vw;
    padding: 3rem 1rem;
  }
  .modal-subscription h2 {
    font-size: calc(2rem+1vw);
  }

  .modal-subscription p {
    font-size: calc(1rem+1vw);
  }
}
